@page "/add-new"
@inject NavigationManager Navigation
@inject IScheduleRepository Repository

<PageTitle>Crear Cronograma</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <ScheduleForm IsEditMode="false" OnValidScheduleSubmit="AddSchedule" />
    </div>
</div>

@code {
    private async Task AddSchedule(Schedule schedule)
    {
        await Repository.AddAsync(schedule);
        Navigation.NavigateTo("/");
    }
}
