@page "/remove-schedule"
<!--
@inject IScheduleRepository Repository
@inject NavigationManager Navigation
-->

<div class="row justify-content-center">
    <div class="col-6">
        <p>TODO: Falta por entender como hacer una busqueda de elementos en la tabla</p>
    </div>
</div>

@code {
    /*
    [SupplyParameterFromForm]
    public Schedule schedule { get; set; } = new();

    private async Task RemoveSchedule(Schedule schedule)
    {
        await Repository.RemoveAsync(schedule);
        Navigation.NavigateTo("/");
    }
    */
}
